:root {
    /* Font-families */
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: serif;

    /* Font-sizes */
    --fs-900: 9.375rem;
    --fs-800: 6.25rem;
    --fs-750: 4.5rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-450: 1.5rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /* Colors */
    --bg-primary: rgb(255, 255, 255);
    --bg-secondary: rgb(226, 232, 240);
    --font-color: rgb(137, 137, 137);
    --font-title: rgb(0, 0, 0);
    --accent: rgb(25, 146, 212);
    --accent-lighter: rgb(240, 180, 41);
}

/* --------------------  */
/* Reset                 */
/* --------------------  */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
html,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* Utils classes */

.grid {
    display: grid;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 600;
}

/* Typography */
.ff-serif { font-family: var(--font-secondary); }
.ff-roboto { font-family: var(--font-primary); }

/* Font sizes */
.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-750 { font-size: var(--fs-750); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-450 { font-size: var(--fs-450); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

/* Background */
.background__primary { background-color: var(--bg-primary); }
.background__secondary {  background-color: var(--bg-secondary); }
.background__accent { background-color: var(--accent); }

/* Icons */

.icon {
    height: 25px;
}

.logo {
    height: 70px;
    width: 70px;
}

.user__image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.user__image__large {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

/* Buttons */

button {
    padding: 12.5px 30px;
    margin: 20px;
    height: 40px;
    width: 100px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  button:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

/* Specifics */

.container {
    grid-template-columns: 0.75fr 3fr;
    grid-template-rows: 0.5fr 4fr;
}

/* Header */

.header__container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	z-index: 2;

    .search__input__container {
        display: grid;
        grid-template-columns: 0.5fr 5fr;
        align-items: center;

        .search__magnify {
            margin: 25px;
        }
        
        .search__input {
            border-radius: 100px;
            border: none;
            background-color: var(--bg-secondary);
            width: 100%;
            height: 30px;
        }
    }

    .user__info__container {
        position: relative;
    }
}

.user__info__container > span, img {
    margin: 10px;
}

.user__info__container .notifications {
    position: absolute;
    left: 150px;
    top: 40px;
}

.user__info__container .user__image {
    position: absolute;
    left: 200px;
    top: 25px;
}

.user__info__container .user__name {
    position: absolute;
    left: 270px;
    top: 45px;
}

.buttons__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.user__greeting__container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.user__greeting> p:first-child {
    margin-top: 25px;
}

/* Sidebar */

.sidebar__container {
    grid-row: 1 / 4;
    display: grid;
    color: white;

    .logo__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: -80px 50px 0px 15px;
    }

    .nav__actions__container {
        margin: -80px 0px 0px 30px;
    }

    .nav {
        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-items: start;
        align-items: center;

        > p:hover, img:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .settings__actions__container {
        margin: -200px 0px 0px 30px;
    }
}

.main__content__container {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    display: grid;
    position: relative;
    grid-template-columns: 3fr 1.5fr;
    grid-template-rows: 1fr 1fr;

    .projects__subtitle {
        position: absolute;
        top: 20px;
        left: 25px;
        font-weight: bold;
    }

    .projects__container {
        grid-row: 1 / 3;
        display: grid;
        margin: 50px 0px 50px 25px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 25px;

        .project__card {
            height: 175px;
            background-color: var(--bg-primary);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        	z-index: 2;
            border-left: 10px solid var(--accent-lighter);
            border-radius: 10px;

            .project__name {
                font-size: var(--fs-300);
                margin: 10px 0px 0px 15px;
            }

            .project__description {
                margin: 0px 10px 50px 15px;
                overflow: hidden;
            }
        }
    }

    .announcements__subtitle, .trending__subtitle {
        margin: 20px 0px 10px 20px;
    }

    .announcements__box {
        background-color: var(--bg-primary);
        height: 85%;
        border-radius: 10px;
        margin: 0px 30px 0px 30px;
        padding: 15px 35px 15px 35px;
        display: grid;
        grid-row: 1 / 2;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

        .announcement__item {
            overflow: hidden;
            margin: 0px 0px 10px 0px;
            border-bottom: 1px solid rgb(189, 186, 186);
        }

        .announcement__item:nth-child(3) {
            border: none;
        }

        .announcement__item > p{
            font-size: 14px;
        }

        .item__divider {
            width: 80%;
            background-color: black;
            height: 1px;
        }
    }

    .trending__container {
        grid-row: 2 / 3;

        .trending__box {
            background-color: var(--bg-primary);
            height: 85%;
            margin: 0px 30px 0px 30px;
            padding: 15px 35px 15px 35px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        }
    }

    .trending__item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }
}
